
/* UTILITIES */

$breakpoints-up: (
    "medium": 43.75rem,
    "large": 56.25rem,
    "xlarge": 90rem,
);

$breakpoints-down: (
    "small": 43.7485rem,
    "medium": 56.24875rem,
    "large": 89.99875rem,
);

@mixin breakpoint($size) {
    @media (width > map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (width < map-get($breakpoints-down, $size)) {
        @content;
    }
}

.visually-hidden {
    clip-path: inset(50%);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
}

.wrapper {
    --max-width: 75rem;
    --padding-inline: var(--space-200);
    --padding-block: var(--space-700);
    width: min(100% - var(--padding-inline) * 2, var(--max-width));
    margin-inline: auto;
    padding-block: var(--padding-block);

    @include breakpoint(medium) {
        --padding-inline: var(--space-500);
        --padding-block: var(--space-800);
    }
}

.flow {
    --flow-space: var(--space-400);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

.light {
    color: var(--clr-light);
}

