
/* UTILITIES */

$breakpoints-up: (
    "medium": 43.75em,
    "large": 56.25em,
    "xlarge": 90em,
);

$breakpoints-down: (
    "small": 43.7485em,
    "medium": 56.24875em,
    "large": 89.99875em,
);

@mixin breakpoint($size) {
    @media (width > map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (width < map-get($breakpoints-down, $size)) {
        @content;
    }
}

.visually-hidden {
    clip-path: inset(50%);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
}

.wrapper {
    --max-width: 75rem;
    --inline-padding: .75rem;
    width: min(100% - var(--inline-padding) * 2, var(--max-width));
    margin-inline: auto;

    @include breakpoint(medium) {
        --inline-padding: 1.5rem;
    }
}

.flow {
    --flow-space: 1rem;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

.text-light {
    color: var(--text-light);
}

.uppercase {
    text-transform: uppercase;
}