@use '../util' as u;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    /* max-width: 60rem; */
    width: min(100% - 4rem, 60rem);
    margin-inline: auto;

    @include breakpoint(large);

    :is(&__main, &__sidebar) {
        padding: 2.5rem;
    }

    &__main {
        background-color: red;
    }

    &__sidebar {
        background-color: green;
    }
}